.section-two-container{
    display:flex;
    min-height:100svh;
    max-width: 100%;
    background-color: var(--eggshell);
    
    align-items: center;
    flex-direction: column;
  
  
    gap:4rem;
  }
  .platform-container{
    display:flex;
    flex-direction: column;
    gap:10rem;
    
  
  }
  .sectionTitle{
    padding-top:3rem;
   
  }
  
  .recent-album-container{
    display:flex;
   
    margin:auto;
    
  
  
    
  }
  
  .recent-album-info-container{
    display:flex;
    flex-direction: column;
    
    gap:1.5rem;
    
  }

  .platform-link {
    color: black
  }
  .btn{
  
    color: var(--grey);
    border: 1px solid var(--grey);
    align-self: center;
    padding: 10px 20px
  }
  .btncontainer{
    width:100%;
    padding:50px;
    display:flex;
    justify-content: center;
    
  }