.section-one-container {
    display:flex;
    
   
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position:relative;
    text-align: center;
    background-image: linear-gradient(to top bottom, rgba(0, 0, 0, 0.94),rgba(255, 255, 255, 0));
 
    
    
  }
  .btn{
  
    color: var(--eggshell);
    border: 1px solid var(--eggshell);
    align-self: center;
    padding: 5px 10px
    
  }
  .btncontainer{
    width:100%;
    padding:20px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .down-icon{
    color:#e0e4dc;
    height:40px;
    width:40px;
    opacity: 50%;
    animation: 0.5s down-bounce alternate infinite;
  }
  @keyframes down-bounce {
    0% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(1);
    }
  }
  .primary-heading-container{
    color:#FAF3DD;
    margin: auto;
    padding-bottom: 7rem;
    z-index: 95;
    
  }
  
  