.nav-container{
    position: fixed;
    top:0;
    display: flex;
    width:100%;
    align-items:center;
    justify-content: center;
    padding:15px;
    z-index:99;

    
  
  }

  
  
  .nav-group-container{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    gap:5rem; 
    
    
  }
 
 

  