.main-button {
    border-radius: 10px;
    border: 1.5px solid black;
    background-color: #c7975de1;
    color: var(--eggshell);
    text-align: center;

    width: 100px;
    min-height: 30px;
    font-size: 15px;
  }
  .main-button:hover {
    transform: scale(1.02);
    box-shadow: 2px;
    cursor: pointer;

    background-color: #ddb585af;
  }

  .contact-button{

    border-radius: 10px;
    border: 1.5px solid var(--cambridge-blue);
    background-color: var(--cambridge-blue);
    color: var(--eggshell);
    text-align: center;

    width:20rem;
  
    min-height: 2rem;
    font-size: 1.2rem;

  }
  
  .contact-button:hover {
    transform: scale(1.03);
    box-shadow: 2px;
    cursor: pointer;

    
  }
  .book-button{
  
    border-radius: 10px;
    border: 1.5px solid var(--cambridge-blue);
    background-color: var(--cambridge-blue);
    color: var(--eggshell);
    text-align: center;

    width:20rem;
  
    min-height: 2rem;
    font-size: 1.2rem;
  }
  
